@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  --background: #FFFFFF;
  --foreground: #1C2B33;
  --primary: #1C2B33;
  --secondary: #F5F5F7;
  --muted: #F6FAFE;
  --destructive: #FF4172;
  --cta: #0164E0;
  --primary-text: #1C2B33;

  --black-gradient: linear-gradient(180deg, #7A8FA4 0%, #1C2B33 60%);
  --grad-tertiary: linear-gradient(142deg, #F4CFE1 50.68%, #A4D3FF 101.36%);

  --radius: 0.625rem;
}

@theme inline {
  --font-roobert: var(--font-roobert);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-cta: var(--cta);
  --primary-text: var(--primary-text);
  --color-black-gradient: var(--black-gradient);
  --color-grad-tertiary: var(--grad-tertiary);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --text-5xl: 40px;
  --text-6xl: 56px;
}


@layer base {
  * {
    @apply font-roobert;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-black-gradient {
    background: var(--black-gradient);
  }

  .bg-grad-tertiary {
    background: var(--grad-tertiary);
  }
}